<?xml version="1.0"?>
<launch>

  <arg name="robot" default="holonomic"/>
  <arg name="paused" default="false"/>
  <arg name="auto_quit" default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>

  <arg name="vrep_path" default="~/vrep"/>
  <arg name="scene_file" default="$(find vrep_creative_bringup)/scenes/2nd.ttt"/>

  <arg name="init_pos_x" default="0.0"/>
  <arg name="init_pos_y" default="0.0"/>
  <arg name="init_pos_z" default="0.0"/>
  <arg name="init_roll" default="0"/>
  <arg name="init_pitch" default="0"/>
  <arg name="init_yaw" default="0"/>

 <!-- Launch v-rep -->
  <include file="$(find vrep_creative_bringup)/launch/vrep.launch">
 <arg name="vrep_path" value="$(arg vrep_path)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="scene_file" value="$(arg scene_file)"/>
    <arg name="auto_quit" value="$(arg auto_quit)"/>
  </include>
  
</launch>
