<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="sauce_v1" >

    <xacro:include filename="$(find vrep_creative_description)/urdf/materials.urdf.xacro"/>

    <!-- Frame -->
    <link name="frame">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://vrep_creative_description/meshes/frame.obj" />
            </geometry>
            <material name="material_light_grey"/>
        </visual>
        <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <mesh filename="package://vrep_creative_description/meshes/frame.obj" />
            </geometry>
        </collision>
    </link>
</robot>